.books {
    @include container;
    
    h2 {
        @include parisr(24px);
    }

    margin: 50px 20px 0 20px;
    
    .phone-hidden {
        display: none;
    }

    .books-content {
        margin-top: 30px;
    }

    .books-author-images {
        display: grid;
        justify-items: center;
    
        img {
            height: 216px;
            width: 225px;
        }
    }
    
    .books-text {
        margin-top: 70px;
        @include parisr(18px);
    }    

    @include tablet {
        @include container($max-width: 740px); 
        margin-top: 54px;
        .phone-hidden {
            display: block;
        }

        .books-content {
            margin: 0 50px;
            margin-top: 30px;
        }

        .books-author-images {
            grid-template-columns: repeat(3, 225px);
            justify-content: space-between;
        }
    }
    
    @include desktop {
        max-width: 1001px !important;
    }
}



